<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Unit">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Feature">
      <directory>tests/Feature</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="FIELDPULSE_DB_HOST" value="127.0.0.1"/>
    <env name="FIELDPULSE_DB_NAME" value="fieldpulse_test"/>
    <env name="FIELDPULSE_DB_USER" value="fieldpulse_test"/>
    <env name="FIELDPULSE_DB_PASS" value="test_pw_12345"/>
  </php>
</phpunit>
